*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    line-height: 2.5;
    color: #333;
    overflow: hidden;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.text-primary{
    color: #3693ff;

}
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color:#fff
    padding: 2rem 10rem;
    position: sticky;
    top:0;
    z-index: 1;
    border-bottom:3px solid #3693ff;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;

}
#navbar li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 20px;
    margin:0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3;
}
#navbar li a:hover{
    background-color: #3693ff;
}
#navbar h2{
    color: 3693ff;
}
#about img{
    float: left;
    height: 300px;
    margin-left: 70px;
    margin-top: 70px;
    margin-right: 10px;
    border-bottom:3px solid #3693ff;
}
#about div{
    font-size: medium;
    margin-top: 5px;
    padding: 5px;
    line-height: 75px;
    font-family: 'Times New Roman', Times, serif;
   
}
header{
    background: linear-gradient(to bottom,rgb(192, 220, 231) 70%,white);
}
footer{
    align-content: center;
    background-color:rgb(159, 159, 219);
}
#ending h2{
    text-align: center;

}
#ending div{
    text-align: center;
}